<div data-region="blocks-drawer-toggle" class="moodle-has-zindex {{^blocksdraweropen}}closed{{/blocksdraweropen}}">
    <a class="btn btn-primary" href="#" data-action="toggle-blocks-drawer">{{#pix}}blocksdrawer, theme_boost, {{#str}}myblocks, block{{/str}}{{/pix}}</a>
</div>
<div data-region="blocks-drawer" class="moodle-has-zindex {{^blocksdraweropen}}closed{{/blocksdraweropen}}" aria-hidden="{{#blocksdraweropen}}false{{/blocksdraweropen}}{{^blocksdraweropen}}true{{/blocksdraweropen}}">
    <button type="button" class="close" data-action="toggle-blocks-drawer" aria-label="{{#str}}blocksdrawertoggle, block{{/str}}">
      <span aria-hidden="true">&times;</span>
    </button>
    <h3>{{#str}}myblocks, block{{/str}}</h3>
    {{{ sidepreblocks }}}
</div>
