.assignfeedback_editpdf_widget .toolbar ul {
    display: none;
}

.assignfeedback_editpdf_widget .toolbar li {
    list-style-type: none;
}
.assignfeedback_editpdf_widget .drawingcanvas {
    position: relative;
    min-width: 817px;
    min-height: 1169px;
    cursor: crosshair;
}
.assignfeedback_editpdf_widget .navigation select,
.assignfeedback_editpdf_widget .navigation button {
    margin: 0px 0px 10px 5px;
}

.assignfeedback_editpdf_downloadlink {
    margin-top: 1em;
}
.assignfeedback_editpdf_widget .moodle-dialogue-bd,
.moodle-dialogue-base .moodle-dialogue.assignfeedback_editpdf_widget .moodle-dialogue-content .moodle-dialogue-ft {
    text-align: center;
}

.assignfeedback_editpdf_downloadlink .hidden {
    display: none;
}

.assignfeedback_editpdf_square {
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	border-radius: 4px;
	border: 1px solid #000000;
	display: inline-block;
	color: #000000;
	font-family: arial;
	font-size: 15px;
	font-weight: normal;
	padding: 6px 15px;
	text-decoration: none;
	height: 32px;
	width: 19px;
	margin: 10px;
	cursor: pointer;
}
.assignfeedback_editpdf_yellow {
	background-color: rgb(255,255,176);
}
.assignfeedback_editpdf_red {
	background-color: rgb(255,176,176);
}
.assignfeedback_editpdf_green {
	background-color: rgb(176,255,176);
}
.assignfeedback_editpdf_blue {
	background-color: rgb(208,208,255);
}
.assignfeedback_editpdf_white {
	background-color: white;
}

.assignfeedback_editpdf_black {
    background-color: black;
}
.moodle-dialogue-base .colourpicker .moodle-dialogue-wrap .moodle-dialogue-hd{
	display: none;
}

.assignfeedback_editpdf_selectedbutton {
	background-color: #ccc;
}
