.assignfeedback_editpdf_widget .toolbar ul {
    display: none;
}

.assignfeedback_editpdf_widget .toolbar li {
    list-style-type: none;
}
.assignfeedback_editpdf_widget .drawingcanvas {
    position: relative;
    min-width: 817px;
    min-height: 1169px;
    cursor: crosshair;
}

// Disable text selection effects for the entire popup.
.assignfeedback_editpdf_widget {
    user-select: none;
}

.assignfeedback_editpdf_widget .pageheader {
    background-color: #ebebeb;
    border-bottom: 1px solid #cccccc;
    padding: 4px;
    text-align: center;
}

.moodle-dialogue-base .moodle-dialogue.assignfeedback_editpdf_widget .moodle-dialogue-bd {
    padding: 0px;
}

.assignfeedback_editpdf_widget .pageheader select,
.assignfeedback_editpdf_widget .pageheader button {
    background-image: none;
    background-color: white;
    margin: 6px 0 6px 5px;
    padding: 4px 9px;
}

.assignfeedback_editpdf_widget .verticaldivider {
    vertical-align: center;
    position: relative;
    width: 0px;
    padding-top: 14px;
    padding-bottom: 15px;
    overflow: hidden;
    border-left: 1px solid #999;
    border-right: 1px solid white;
    margin-left: 5px;
}

.assignfeedback_editpdf_searchcomments ul {
    max-height: 400px;
    overflow-y: auto;
}
.assignfeedback_editpdf_searchcomments a pre {
    font-family: helvetica;
}

.assignfeedback_editpdf_downloadlink {
    margin-top: 1em;
}
.assignfeedback_editpdf_widget .moodle-dialogue-bd,
.moodle-dialogue-base .moodle-dialogue.assignfeedback_editpdf_widget .moodle-dialogue-content .moodle-dialogue-ft {
    text-align: center;
}

.assignfeedback_editpdf_downloadlink .hidden {
    display: none;
}

.assignfeedback_editpdf_widget .navigation,
.assignfeedback_editpdf_widget .toolbar {
    display: inline-block;
}

.assignfeedback_editpdf_colourpicker ul {
    margin: 0px;
}

.assignfeedback_editpdf_commentmenu li.quicklist_comment {
    width: 150px;
}
.assignfeedback_editpdf_commentmenu li.quicklist_comment a {
    white-space: nowrap;
    display: inline-block;
    max-width: 130px;
    overflow: hidden;
    text-overflow: ellipsis;
}
.assignfeedback_editpdf_commentmenu a.delete_quicklist_comment {
    float: right;
}
.dir-rtl .assignfeedback_editpdf_commentmenu a.delete_quicklist_comment {
    float: left;
}
.assignfeedback_editpdf_commentmenu .moodle-dialogue-hd,
.assignfeedback_editpdf_commentmenu .moodle-dialogue-ft,
.assignfeedback_editpdf_colourpicker .moodle-dialogue-ft,
.assignfeedback_editpdf_colourpicker .moodle-dialogue-hd {
    display: none;
}
.assignfeedback_editpdf_menu li hr {
    margin: 0px;
}
.assignfeedback_editpdf_menu li a {
    text-decoration: none;
    color: #555;
}
.assignfeedback_editpdf_menu li:hover,
.assignfeedback_editpdf_menu li:hover a,
.assignfeedback_editpdf_menu li a:hover {
    background-color: #08c;
    border-radius: 4px;
    color: white;
    text-decoration: underline;
}
ul.assignfeedback_editpdf_menu {
    margin: 0px;
}
.assignfeedback_editpdf_menu li {
    list-style-type: none;
    margin: 0px;
    padding: 4px;
}
.assignfeedback_editpdf_menu li button {
    margin: 0px;
}

.assignfeedback_editpdf_colourpicker li button {
    width: 42px;
    height: 30px;
}

.assignfeedback_editpdf_widget .pageheader button.assignfeedback_editpdf_selectedbutton:hover {
    background-image: none;
    background-color: #CCF;
}

.assignfeedback_editpdf_widget .pageheader button.assignfeedback_editpdf_selectedbutton {
    background-color: #CCF;
    background-image: none;
}

.assignfeedback_editpdf_widget .commentdrawable img {
    padding: 4px;
}

.assignfeedback_editpdf_widget .commentdrawable a {
    float: right;
    position: relative;
    left: -20px;
}

.dir-rtl .assignfeedback_editpdf_widget .commentdrawable a {
    float: left;
    left: none;
    right: -20px;
}

.assignfeedback_editpdf_widget .commentdrawable textarea {
    padding: 4px;
    padding-right: 20px;
    resize: horizontal;
    overflow: hidden;
    color: black;
    border: 2px solid black;
    font-size: 16px;
    font-family: helvetica;
    min-height: 1.2em;
}

.dir-rtl .assignfeedback_editpdf_widget .commentdrawable textarea {
    padding-left: 20px;
    padding-right: 4px;
}

