.assignfeedback_editpdf_widget .toolbar ul {
    display: none;
}

.assignfeedback_editpdf_widget .toolbar li {
    list-style-type: none;
}
.assignfeedback_editpdf_widget .drawingcanvas {
    position: relative;
    min-width: 817px;
    min-height: 1169px;
    cursor: crosshair;
}
.assignfeedback_editpdf_widget .navigation select,
.assignfeedback_editpdf_widget .navigation button {
    margin: 0px 0px 10px 5px;
}

.assignfeedback_editpdf_downloadlink {
    margin-top: 1em;
}
.assignfeedback_editpdf_widget .moodle-dialogue-bd,
.moodle-dialogue-base .moodle-dialogue.assignfeedback_editpdf_widget .moodle-dialogue-content .moodle-dialogue-ft {
    text-align: center;
}

.assignfeedback_editpdf_downloadlink .hidden {
    display: none;
}

.assignfeedback_editpdf_colourpicker ul {
    margin: 0px;
}

.assignfeedback_editpdf_commentmenu .moodle-dialogue-hd,
.assignfeedback_editpdf_commentmenu .moodle-dialogue-ft,
.assignfeedback_editpdf_colourpicker .moodle-dialogue-ft,
.assignfeedback_editpdf_colourpicker .moodle-dialogue-hd {
    display: none;
}
.assignfeedback_editpdf_menu li a {
    text-decoration: none;
    color: #555;
}
.assignfeedback_editpdf_menu li:hover,
.assignfeedback_editpdf_menu li:hover a,
.assignfeedback_editpdf_menu li a:hover {
    background-color: #08c;
    border-radius: 4px;
    color: white;
    text-decoration: underline;
}
ul.assignfeedback_editpdf_menu {
    margin: 0px;
}
.assignfeedback_editpdf_menu li {
    list-style-type: none;
    margin: 0px;
    padding: 4px;
}
.assignfeedback_editpdf_menu li button {
    margin: 0px;
}

.assignfeedback_editpdf_colourpicker li button {
    width: 42px;
    height: 30px;
}

.assignfeedback_editpdf_widget .commentbutton {
    margin-left: 1em;
}
.dir-rtl .assignfeedback_editpdf_widget .commentbutton {
    margin-right: 1em;
    margin-left: inherit;
}

.assignfeedback_editpdf_selectedbutton:hover {
    background-image: none;
    background-color: #CCF;
}
.assignfeedback_editpdf_selectedbutton {
    background-color: #CCF;
    background-image: none;
}

.assignfeedback_editpdf_widget .commentdrawable img {
    padding: 4px;
}

.assignfeedback_editpdf_widget .commentdrawable a {
    float: right;
    position: relative;
    left: -20px;
}

.dir-rtl .assignfeedback_editpdf_widget .commentdrawable a {
    float: left;
    left: none;
    right: -20px;
}

.assignfeedback_editpdf_widget .commentdrawable textarea {
    padding: 4px;
    padding-right: 20px;
    resize: horizontal;
    overflow: hidden;
    color: black;
    border: 2px solid black;
    font-size: 16px;
    font-family: helvetica;
    min-height: 1.2em;
}

.dir-rtl .assignfeedback_editpdf_widget .commentdrawable textarea {
    padding-left: 20px;
    padding-right: 4px;
}

