.assignfeedback_editpdf_widget .toolbar ul {
    display: none;
}

.assignfeedback_editpdf_widget .toolbar li {
    list-style-type: none;
}
.assignfeedback_editpdf_widget .drawingcanvas {
    position: relative;
    min-width: 817px;
    min-height: 1169px;
    cursor: crosshair;
}

// Disable text selection effects for the entire popup.
.assignfeedback_editpdf_widget {
    user-select: none;
}

.assignfeedback_editpdf_widget .pageheader {
    background-color: #ebebeb;
    border-bottom: 1px solid #cccccc;
    padding: 4px;
    padding-left: 20px;
    padding-right: 20px;
    height: 50px;
}

.moodle-dialogue-base .moodle-dialogue.assignfeedback_editpdf_widget .moodle-dialogue-bd {
    padding: 0px;
}

.yui3-colourpicker-hidden {
    display: none;
}
.assignfeedback_editpdf_widget .pageheader select,
.assignfeedback_editpdf_widget .pageheader button {
    background: none;
    padding: 4px 10px;
    border: 0px;
    border-radius: 0px;
    margin: 0px;
    height: 30px;
    cursor: pointer;
}

.assignfeedback_editpdf_widget .pageheader button + button,
.assignfeedback_editpdf_widget .pageheader select + button {
    border-left: 1px solid #cccccc;
    border-right: 0px;
}

.assignfeedback_editpdf_widget .pageheader .navigation button {
    border-right: 1px solid #cccccc;
}
.assignfeedback_editpdf_widget .pageheader .toolbar,
.assignfeedback_editpdf_widget .pageheader .navigation {
    border: 1px solid #cccccc;
    border-bottom-color: #b3b3b3;
    border-radius: 4px;
    margin: 10px 4px;
    background-color: white;
    height: 30px;
    line-height: 30px;
    padding: 0px;
}

.assignfeedback_editpdf_searchcomments ul {
    max-height: 400px;
    overflow-y: auto;
}
.assignfeedback_editpdf_searchcomments a pre {
    font-family: helvetica;
}

.assignfeedback_editpdf_downloadlink {
    margin-top: 1em;
}

.assignfeedback_editpdf_downloadlink .hidden {
    display: none;
}

.assignfeedback_editpdf_widget .navigation {
    float: left;
}

.dir-rtl .assignfeedback_editpdf_widget .navigation {
    float: right;
}
.assignfeedback_editpdf_widget .toolbar {
    float: right;
}
.dir-rtl .assignfeedback_editpdf_widget .navigation {
    float: left;
}
.assignfeedback_editpdf_widget .navigation,
.assignfeedback_editpdf_widget .toolbar {
    display: inline-block;
}

.assignfeedback_editpdf_colourpicker ul {
    margin: 0px;
}

.assignfeedback_editpdf_commentmenu li.quicklist_comment {
    width: 150px;
}
.assignfeedback_editpdf_commentmenu li.quicklist_comment a {
    white-space: nowrap;
    display: inline-block;
    max-width: 130px;
    overflow: hidden;
    text-overflow: ellipsis;
}
.assignfeedback_editpdf_commentmenu a.delete_quicklist_comment {
    float: right;
}
.dir-rtl .assignfeedback_editpdf_commentmenu a.delete_quicklist_comment {
    float: left;
}
.assignfeedback_editpdf_dropdown .moodle-dialogue-hd,
.assignfeedback_editpdf_dropdown .moodle-dialogue-ft {
    display: none;
}
.assignfeedback_editpdf_menu li hr {
    margin: 0px;
}
.assignfeedback_editpdf_menu li a {
    text-decoration: none;
    color: #555;
}
.assignfeedback_editpdf_menu li:hover,
.assignfeedback_editpdf_menu li:hover a,
.assignfeedback_editpdf_menu li a:hover {
    background-color: #08c;
    border-radius: 4px;
    color: white;
    text-decoration: underline;
}
ul.assignfeedback_editpdf_menu {
    margin: 0px;
}
.assignfeedback_editpdf_menu li {
    list-style-type: none;
    margin: 0px;
    padding: 4px;
}
.assignfeedback_editpdf_menu li button {
    margin: 0px;
}

.assignfeedback_editpdf_colourpicker li button {
}

.assignfeedback_editpdf_widget .pageheader button.assignfeedback_editpdf_selectedbutton:hover,
.assignfeedback_editpdf_widget .pageheader button.assignfeedback_editpdf_selectedbutton {
    background-color: #CCF;
    border-top: 1px solid #CCf;
    background-image: none;
}

.assignfeedback_editpdf_widget .commentdrawable img {
    padding: 1px;
}

.assignfeedback_editpdf_widget .commentdrawable a {
    float: right;
    position: relative;
    left: -17px;
    top: 2px;
    height: 14px;
    background-color: white;
    border-left: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    line-height: 14px;
}

.dir-rtl .assignfeedback_editpdf_widget .commentdrawable a {
    float: left;
    left: none;
    right: -17px;
    border-left: 0px;
    border-right: 1px solid #ccc;
}

.assignfeedback_editpdf_widget .commentdrawable textarea {
    padding: 4px;
    padding-right: 20px;
    resize: horizontal;
    overflow: hidden;
    color: black;
    border: 2px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    font-family: helvetica;
    min-height: 1.2em;
}

.dir-rtl .assignfeedback_editpdf_widget .commentdrawable textarea {
    padding-left: 20px;
    padding-right: 4px;
}
