<div id="confirm_delete_all_notification_dialog" class="modal notification-delete-all-dialog-sm" tabindex="-1" role="dialog" aria-labelledby="confirm_delete_all_notification_dialog_header">
<div class="modal-dialog modal-sm">
    <div class="modal-content">
        <div class="modal-header" id="confirm_delete_all_notification_dialog_header">
            {{#str}}deleteallconfirm, block_oua_notifications, {{dismiss_all_count}}{{/str}}
        </div>
        <div class="modal-footer">
            <a type="button"  data-dismiss="modal"><i class="fa fa-times"></i>{{#str}}cancel{{/str}}</a>
            <a type="button" class="confirm-delete-all" data-notificationids="" data-dismiss="modal"><i class="fa fa-trash"></i>{{#str}}deleteall, block_oua_notifications{{/str}}</a>
        </div>
    </div>{{! /.modal-content }}
</div>{{! /.modal-dialog }}
</div>{{! /.modal }}