<div id="confirm_delete_notification_dialog" class="modal notification-delete-dialog-sm" tabindex="-1" role="dialog" aria-labelledby="confirm_delete_notification_dialog_header">
<div class="modal-dialog modal-sm">
    <div class="modal-content">
        <div class="modal-header" id="confirm_delete_notification_dialog_header">
            {{#str}}deleteconfirm, block_oua_notifications{{/str}}
        </div>
        <div class="modal-footer">
            <a type="button" class="btn cancel-delete" data-dismiss="modal"><i class="fa fa-times"></i>{{#str}}cancel{{/str}}</a>
            <a type="button" class="btn confirm-delete" data-notificationid=""><i class="fa fa-trash"></i>{{#str}}delete, block_oua_notifications{{/str}}</a>
        </div>
    </div>{{! /.modal-content }}
</div>{{! /.modal-dialog }}
</div>{{! /.modal }}