<div class="box oua-submissionstatus {{stateclasses}}">
    <div class="submissionheader">
        <div class="status">{{{box1header}}}</div>
        <div class="date">{{{box2header}}}</div>
        <div class="remaining">{{{box3header}}}</div>
    </div>
    <div class="submissioninfo">
        <div class="status" data-header="{{box1header}}" data-header-short="{{box1headershort}}">{{{box1content}}}</div>
        <div class="date" data-header="{{box2header}}" data-header-short="{{box2headershort}}">{{{box2content}}}</div>
        <div class="remaining" data-header="{{box3header}}" data-header-short="{{box3headershort}}">{{{box3content}}}</div>
    </div>
    {{{extracontent}}}
</div>