<{{tag}} id="{{id}}" class="{{classes}}" data-blockregion="{{datablockregion}}" data-droptarget="{{datadroptarget}}">
{{#regionname}}<span class="region-name">{{regionname}}</span>{{/regionname}}
{{{blockcontent}}}
</{{tag}}>