<div id="page" class="container-fluid">
    <header id="page-header" class="clearfix">
        {{{html_heading}}}
    </header>

    <div id="page-content" class="row">
        <section class="col-xs-12 region-main" id="region-main">
            {{{main_content}}}
        </section>
    </div>

</div>
<footer id="page-footer">
    {{{standard_footer_html}}}
</footer>