{{> theme_ouaclean/partials_page_banner}}
<div id="page" class="container-fluid">
    <header id="page-header" class="clearfix">
        {{{html_heading}}}
    </header>

    <div id="page-content" class="row">
        <div id="region-main-box" class="col-xs-12">
            <section class="col-xs-12 region-main" id="region-main">
                <span>Mustache template</span>
                {{{main_content}}}
             </section>
             {{{blocks_side_pre}}}
        </div>
        {{{blocks_side_post}}}
    </div>
</div>
{{> theme_ouaclean/partials_page_footer}}
