{{> theme_ouaclean/partials_page_banner}}
<div id="page" class="container-fluid">
    {{{blocks_side_a}}}
    {{{blocks_side_b}}}
    <div id="page-content" class="row">
        <section class="col-xs-12 region-main" id="region-main">
            {{{course_content_header}}}
            {{{main_content}}}
            {{{course_content_footer}}}
        </section>
    </div>
    {{{blocks_side_c}}}
    {{{blocks_side_d}}}    
</div>
{{> theme_ouaclean/partials_page_footer}}
