{{{doctype}}}
<html{{{htmlattributes}}}>
<head>
    <title>{{{page_title}}}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="apple-touch-icon-precomposed" href="{{{apple_touch_icon_precomposed}}}">
    <link rel="shortcut icon" href="{{{favicon}}}"/>

    {{{standard_head_html}}}
    <!--[if lte IE 9]>
    <link rel="stylesheet" type="text/css" href="/theme/ouaclean/style/ie9.css">
    <![endif]-->
</head>

<body {{{body_attributes}}}>

{{{standard_top_of_body_html}}}

{{{pagelayout}}}

{{{standard_end_of_body_html}}}
<!-- Scroll to Top Button -->
<div id="scroll-top" class="hide"><i class="fa fa-chevron-circle-up"></i></div>
</body>
</html>
{{#js}}
    require(['theme_ouaclean/bootstrap_call']);
    require(['theme_ouaclean/scroll_top']);
{{/js}}