<footer id="page-footer" class="footer">
    <div id="customise-button">{{{page_heading_button}}}</div>
    <div class="container-fluid">
            {{{customfooter}}}
            <div class="adminfooter">
                {{{standard_footer_html}}}
                {{{html_footnote}}}
            </div>
        </div>
</footer>