<div class="jumbotron">
  <h1 class="display-3">{{title}}</h1>
  <p class="lead">{{#str}}choosefromnav, theme_noname{{/str}}</p>
  <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/a/aa/Wikiversity-Mooc-Icon-Navigation.svg/2000px-Wikiversity-Mooc-Icon-Navigation.svg.png" style="width: 30%;"/>
</div>
