[data-region=managecompetencies] ul li {
    list-style-type: none;
}
[data-region=managecompetencies] ul li img {
    margin-left: -20px;
    margin-right: 4px;
}
.dir-rtl [data-region=managecompetencies] ul li img {
    margin-right: -20px;
    margin-left: 4px;
}

[data-region=managecompetencies] ul {
    cursor: pointer;
}
[data-region=managecompetencies] ul [aria-selected=true] {
    background-color: #dfdfdf;
}
[data-region="filtercompetencies"] input {
    margin-left: 10px;
}

.dir-rtl [data-region="filtercompetencies"] input {
    margin-right: 10px;
}
