{{< core_form/element-template-inline }}
    {{$element}}
        <input type="submit" {{#element.frozen}}readonly{{/element.frozen}}
                class="btn
                    {{^element.secondary}}btn-primary{{/element.secondary}}
                    {{#element.secondary}}btn-secondary{{/element.secondary}}
                    {{#error}} btn-danger {{/error}}"
                name="{{element.name}}"
                id="{{element.id}}"
                value="{{element.value}}"
                {{{element.attributes}}} >
    {{/element}}
{{/ core_form/element-template-inline }}