<table class="generaltable generalbox quizreviewsummary">
    <tbody>
        {{#with data}}
        {{#with user}}
        <tr>
            <th class="cell" scope="row">{{render title}}</th>
            <td class="cell">{{render content}}</td>
        </tr>
        {{/with}}
        {{#with startedon}}
        <tr>
            <th class="cell" scope="row">{{title}}</th>
            <td class="cell">{{content}}</td>
        </tr>
        {{/with}}
        {{#with state}}
        <tr>
            <th class="cell" scope="row">{{title}}</th>
            <td class="cell">{{content}}</td>
        </tr>
        {{/with}}
        {{#with completedon}}
        <tr>
            <th class="cell" scope="row">{{title}}</th>
            <td class="cell">{{content}}</td>
        </tr>
        {{/with}}
        {{#with timetaken}}
        <tr>
            <th class="cell" scope="row">{{title}}</th>
            <td class="cell">{{content}}</td>
        </tr>
        {{/with}}
        {{#with marks}}
        <tr>
            <th class="cell" scope="row">{{title}}</th>
            <td class="cell">{{content}}</td>
        </tr>
        {{/with}}
        {{#with grade}}
        <tr>
            <th class="cell" scope="row">{{title}}</th>
            <td class="cell">{{{content}}}</td>
        </tr>
        {{/with}}
        {{/with}}
    </tbody>
</table>
