// The only class we need for icons is .icon
// Standardize the size, padding and alignment for all icons in Moodle.
.icon {
    width: 16px;
    height: 16px;
    vertical-align: middle;
    margin: 0;
    padding: 0;
    box-sizing: content-box;
    margin-right: 0.5rem;
}

// Fix the cog icon for an action menu.
.dropdown-toggle .icon {
    margin-right: 0;
}
