/** The message area **/
.messaging-area-container .actions {
    float: right;
}

.messaging-area-container .actions .core-message-menu {
    margin: 0;
}

.messaging-area-container .actions .core-message-menu li {
    float: left;
    position: relative;
    list-style-type: none;
    white-space: nowrap;
}

.messaging-area-container .actions .core-message-menu ul[aria-hidden=true] {
    display: none;
}

.messaging-area-container .actions .core-message-menu .caret {
    margin: 8px;
}

.messaging-area-container .actions .core-message-menu .core-message-sub-menu {
    position: absolute;
    list-style: none;
    margin: 0;
}

.messaging-area-container .actions .core-message-menu .core-message-sub-menu li {
    float: none;
}

.messaging-area-container .actions .core-message-menu .core-message-sub-menu .menu-focus a {
    color: #fff ;
    text-decoration: none;
    background-color: #00699e;
    background-image: linear-gradient(to bottom,#0070a8,#005f8f);
    background-repeat: repeat-x;
}

.messaging-area-container .actions .core-message-menu .core-message-sub-menu[aria-hidden=false] {
    display: block;
}

.messaging-area-container .actions .core-message-menu.core-message-menu-open-left .core-message-sub-menu {
    margin-left: -120px;
}

.messaging-area-container .actions .dir-rtl .core-message-menu.core-message-menu-open-left .core-message-sub-menu {
    margin-left: 0;
    margin-right: -120px;
}

.messaging-area-container .messaging-area {
    border: 1px solid black;
    clear: both;
}

.messaging-area-container .messaging-area .contacts-area {
    border-right: 1px solid black;
    height: 600px;
}

.messaging-area-container .messaging-area .contacts-area .searcharea {
    padding: 5px;
    text-align: center;
}

.messaging-area-container .messaging-area .contacts-area .contacts {
    height: 505px;
    overflow-y: scroll;
}

.messaging-area-container .messaging-area .contacts-area .contacts .contact.selected {
    background-color: #CCF2FF;
}

.messaging-area-container .messaging-area .contacts-area .contacts .contact:hover {
    background-color: #CCF2FF;
    cursor: pointer;
}

.messaging-area-container .messaging-area .contacts-area .contacts .contact .deleteconversationcheckbox {
    display: none;
}

.messaging-area-container .messaging-area .contacts-area .contacts .contact .information {
    padding-left: 8px;
    padding-right: 8px;
}

.messaging-area-container .messaging-area .contacts-area .contacts .contact .information .name {
    font-weight: bold;
}

.messaging-area-container .messaging-area .contacts-area .contacts .contact .information .lastmessage {
    word-wrap: break-word;
}

.messaging-area-container .messaging-area .contacts-area .tabs {
    border-top: 1px solid black;
}

.messaging-area-container .messaging-area .contacts-area .tabs .tab:hover {
    background-color: #CCF2FF;
    cursor: pointer;
}

.messaging-area-container .messaging-area .contacts-area .tabs .tab.selected {
    background-color: #CCF2FF;
}

.messaging-area-container .messaging-area .contacts-area .tabs .tabconversations {
    text-align: center;
    border-right: 1px solid black;
    width: 48%;
}

.messaging-area-container .messaging-area .contacts-area .tabs .tabcontacts {
    text-align: center;
    width: 48%;
}

.messaging-area-container .messaging-area .messages-area .name {
    font-weight: bold;
}

.messaging-area-container .messaging-area .messages-area .messages {
    height: 520px;
    overflow-y: auto;
}

.messaging-area-container .messaging-area .messages-area .messages .blocktime {
    clear: both;
    font-weight: bold;
    text-align: center;
}

.messaging-area-container .messaging-area .messages-area .messages .message .deletemessagecheckbox {
    display: none;
}

.messaging-area-container .messaging-area .messages-area .messages .message .content {
    border: 1px solid black;
    padding-left: 5px;
    margin-bottom: 5px;
    font-size: 10px;
    word-wrap: break-word;
    width: 80%;
}

.messaging-area-container .messaging-area .messages-area .messages .message .content.left {
    float: left;
}

.messaging-area-container .messaging-area .messages-area .messages .message .content.right {
    float: right;
}

.messaging-area-container .messaging-area .messages-area .response textarea {
    width:80%;
}

.messaging-area-container .messaging-area .messages-area .profile {
    padding: 5px;
    font-size: 16px;
}

.messaging-area-container .messaging-area .messages-area .profile .picture .name {
    font-weight: bold;
}

.messaging-area-container .messaging-area .messages-area .profile .information {
    padding-top: 10px;
}

.messaging-area-container .messaging-area .messages-area .profile .information ul {
    list-style: none;
    margin: 0;
}

.messaging-area-container .messaging-area .messages-area .profile .actions {
    padding-top: 10px;
}

#newmessageoverlay {
    background-color: LightGrey;
    border: 1px solid black;
    padding: 20px;
    position: fixed;
    bottom: 0;
    right: 0;
}

#newmessageoverlay #usermessage {
    padding: 10px;
}

.ie6 #newmessageoverlay {
    position: static;
}

/** Messenger send message dialog */
.core_message-messenger-sendmessage-hidden {
    display: none;
}

.core_message-messenger-sendmessage .message.actions {
    position: relative;
}

.core_message-messenger-sendmessage .message-area {
    height: 240px;
    max-height: 100%;
    position: relative;
    margin-bottom: 10px;
}

.core_message-messenger-sendmessage .message-input {
    width: 100%;
    height: 100%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.core_message-messenger-sendmessage .message-send {
    margin: 0;
    float: right;
}

.core_message-messenger-sendmessage .message-notice-area {
    display: table;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
}

.core_message-messenger-sendmessage .message-notice {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
}

.core_message-messenger-sendmessage .message-notice > div {
    background: #eee;
    padding: 5px;
    font-size: 12px;
}

.core_message-messenger-sendmessage .message-footer {
    margin-top: 3px;
    line-height: 20px;
}

.core_message-messenger-sendmessage .message-history {
    position: absolute;
    bottom: 0;
}

.dir-rtl .core_message-messenger-sendmessage .message-send {
    float: left;
}
