{{#displaydiv}}
<div>
{{#previousurl}}
<a class="prev" href="{{{previousurl}}}">{{#str}} previous, format_invisible {{/str}}</a>
{{/previousurl}}
{{#nexturl}}
<a class="next" href="{{{nexturl}}}">{{#str}} next, format_invisible {{/str}}</a>
{{/nexturl}}
</div>
{{/displaydiv}}