<ul class="form-autocomplete-suggestions" id="{{suggestionsId}}" role="listbox" aria-hidden="true">
    {{#options}}
        <li role="option" data-value="{{value}}">{{{label}}}</li>
    {{/options}}
</ul>
