<div class="form-autocomplete-selection" id="{{selectionId}}" role="list" aria-atomic="true">
    {{#items}}
        <span role="listitem" data-value="{{value}}" class="label label-info">{{{label}}}</span>
    {{/items}}
</div>
