<div id="{{id}}"
     class="block block_{{type}} card card-block">
            <h4 class="card-title">
                {{#hascontrols}}
                <div class="pull-xs-right">
                    {{{controls}}}
                </div>
                {{/hascontrols}}
                    {{{title}}}
            </h4>
            <div class="card-text">
                {{{content}}}
                {{{annotation}}}
            </div>
            <div class="card-text">
                {{{footer}}}
            </div>
</div>
