{{! Block Skip Link }}
{{#showskiplink}}
  <a href="#sb-{{skipid}}" class="sr-only sr-only-focusable">{{#str}}skipa, access, {{title}}{{/str}}</a>
{{/showskiplink}}

{{! Start Block Container }}
<aside id="{{id}}"
     class="{{#hidden}}hidden{{/hidden}} m-b-1 block block_{{type}}"
     role="{{ariarole}}"
     data-block="{{type}}"
     data-instanceid="{{blockinstanceid}}"
     {{#arialabel}}
        aria-label="{{{arialabel}}}"
     {{/arialabel}}
     data-droptarget="1">

    {{#hascontrols}}
    <div class="pull-xs-right">
        {{{controls}}}
    </div>
    {{/hascontrols}}

    {{! Block header }}
    {{#title}}
        <h1><small>{{title}}</small></h1>
    {{/title}}

    {{! Block contents }}
    <div>
        {{{content}}}
        {{{footer}}}
        {{{annotation}}}
    </div>

{{! End Block Container }}
</aside>

{{! Block Skip Link Target }}
{{#showskiplink}}
  <span id="sb-{{skipid}}"></span>
{{/showskiplink}}
