/* Custom CSS
-------------------------*/

h1, h2, h3, h4, h5, body {
    font-family: 'Quicksand', sans-serif;
}

a h1 {
    color: black;
}

header h1 {
    text-align: right;
    font-size: 40pt;
    padding-right: 0.3em;
}

header nav a:hover {
    text-decoration: none;
}

button, input.form-submit, input[type="button"], input[type="submit"], input[type="reset"] {
    background: white;
    border: 0px;
    color: #999;
    border-right: 1px solid #eee;
    border-bottom: 1px solid #eee;
    font-family: 'Quicksand', sans-serif;
    box-shadow: none;
}

button:hover, input.form-submit:hover, input[type="button"]:hover, input[type="submit"]:hover, input[type="reset"]:hover {
    background: white;
    color: #08c;
}

.breadcrumb {
    background: white;
}

.breadcrumb li {
    padding-left: 1em; padding-right: 1em;
}

.breadcrumb .divider {
    display: none;
}

.course-content ul li.section.main {
    border: 0px;
}

body {
    padding-top: 0px;
}

#page-footer {
    border: 0px;
}

.nav .span2 .singlebutton input[type="submit"] {
    margin: 4px;
}

hr {
    display: none;
}

.block,
header .logininfo {
    background-color: white;
    border: 0px;
    box-shadow: none;
    opacity: 0.2;
    transition:opacity 0.5s;
    -webkit-filter: saturate(0);
}

.block:hover,
.block:hover h2,
header:hover .logininfo {
    color: black;
    opacity: 1.0;
    -webkit-filter: saturate(1);
}

body {
    border-top: 4px solid black;
}


footer,
span.cache-definition-stats span.cache-store-stats,
span.cache-definition-stats-heading {
    background-color: black;
    color: white;
}
span.cache-definition-stats-heading {
    font-weight: 600;
}

.sitelink img {
    -webkit-filter: invert(1) hue-rotate(180deg);
}

li.section.main {
    display: inline-block;
    width: 30em;
    min-height: 8em;
    margin: 2em;
    vertical-align:top;
}

#page {
    padding: 0 14em 0 14em;
}
.columns2 #page-center {
    padding-right: 0;
}
.columns1 #page-center {
    padding-left: 0;
    padding-right: 0;
}
#page-center {
    float: left;
    width: 100%;
    border-left: 14em solid white;
    border-right: 14em solid white;
    margin-left: -14em;
    margin-right: -14em;
    display: inline;
}
.columns2 #page-center {
    border-right: 0em solid white;
    margin-right: 0em;
}
.columns1 #page-center {
    border-right: 0em solid white;
    margin-right: 0em;
    border-left: 0em solid white;
    margin-left: 0em;
}
#block-region-side-pre {
    float: left;
    margin-left: -13em;
    width: 14em;
    position: relative;
}

#block-region-side-post {
    float: right;
    width: 14em;
    margin-right: -13em;
    position: relative;
}

#page-content {
    float: left;
    width: 100%;
    margin-right: -100%;
}

footer {
    clear: both;
}

.label, .badge {
    font-weight: normal;
    line-height: 21px;
}

@media (max-width: 767px) {
    header h1 {
        font-size: 20pt;
        float: left;
    }

    .nav .row-fluid .span2 {
        position: absolute;
        left: 50%;
    }

    #block-region-side-post {
        float: left;
        margin-left: -13em;
        clear: left;
    }

    body {
        padding: 0px;
    }
}

@media (max-width: 650px) {
    #block-region-side-pre {
        clear: left;
        margin-left: 0em;
    }
    #block-region-side-post {
        margin-left: 0em;
    }

    #page-center {
        border-left: 1em solid white;
    }
}

input, textarea, .uneditable-input {
    width: 8em;
}
